
.report {

  .newposition {
    td {
        border-top: 2px solid rgba(#000, 0.7);
    }
  }

  .playerImage {
    display: block;
    background-color:#fff;
    background-size: cover;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    padding: 0;
  }

  td.playerPosition {
    width: 50px;

    span {
        background: #0078FE;
        border-radius: 8px;
        padding:10px;
        text-transform: uppercase;
        color: #fff;
    }

    for $pos, $idx in $positionColors {
        &.{$pos} span {
            background: $idx;
        }
    }
  }

  td.img {
      width: 70px;
  }

  .nextGame {
   font-size: 0.8em;
      margin:0;
      padding:0;
  }

}