.report {
   background: rgba(#fff, 0.9);
   border-collapse: collapse;
   box-shadow: 0px 0px 14px 5px rgba(0,0,0,0.3);

  tr th {
    background: $reportTHBg;
    color: $reportTHTextColor;
    padding: 0.8em;
  }

  .oddtablerow {
    background: rgba(#fff, 0.0);
    border: 0;
  }

  .eventablerow {
      background: rgba(#fff, 0.8);
      border: 0;
  }
}