@import variables;
@import 'mfl2015';
@import 'views/roster';
@import 'views/playersList';


a:hover {
    color: $hoverColor !important;
    text-decoration: none !important;
}


body {
    background: $pageBg;
    background-size: cover;
    color: $bodyTextColor;
}

.pageheader {
    background: $pageHeaderBg;
    border-top: 50px solid $mainMenuBg;
    margin-bottom: 10px;
    max-width: 100%;
    padding: 2em 0;

    .welcome {
        display: none;
    }

    .brandlogo {
        display: none;
    }

    .pagetitle {
        position: initial;
        z-index: 1;
        h1 {
            color: $pageHeaderTextColor;
            font-size: 1.8em;
            margin: 0 167px;
            text-align: center;
        }
    }
}

.pagebody {
    background: $pageBodyBg;
    border-radius: 4px;
    color: $pageTextColor;
    padding: 2em;
}


#championship_plaque {
    display: none;
}


.pagefooter {
    background: $pageFooterBg;
    border-top: 0;
    margin-top: 3em;
}