$pageBg = #000 url('images/pageBg5.jpg') no-repeat fixed 0 0;


$mainMenuBg = rgba(#081F2A, 0.8);
$pageHeaderBg = transparent;
$pageHeaderTextColor = rgba(#fff, 0.8);
$pageBodyBg = rgba(#000, 0.8);
$pageFooterBg = rgba(#000, 0.8);

$primaryColor = #1890CB;
$secondaryColor = #fff;
$pageTextColor = #fff;
$bodyTextColor = #333;
$altColor = #333;
$warningColor = #F30059;
$faColor = #00C05B;

$linkColor = #1890CB;
$hoverColor = lighten($linkColor, 15%);

$qbColor = #0078FE;
$rbColor = #3C5CA5;
$wrColor = #1A9FC7;
$teColor = #0D6884;
$pkColor = #642B90;

$positionColors = {
	'qb': $qbColor,
	'rb': $rbColor,
	'wr': $wrColor,
	'te': $teColor,
	'pk': $pkColor
};