$pageBg = #000 url('images/pageBg4.jpg') no-repeat fixed 0 0;

$pageHeader = #000;

$primaryColor = #0078FE;
$secondaryColor = #fff;
$bodyTextColor = #fff;
$altColor = #333;

$linkColor = #0751D8;
$hoverColor = lighten($linkColor, 15%);

$qbColor = #0078FE;
$rbColor = #3C5CA5;
$wrColor = #1A9FC7;
$teColor = #0D6884;
$pkColor = #642B90;

$positionColors = {
	'qb': $qbColor,
	'rb': $rbColor,
	'wr': $wrColor,
	'te': $teColor,
	'pk': $pkColor
};