$pageBg = #000 url('images/pageBg5.jpg') no-repeat fixed 0 0;


$primaryColor = #1890CB;
$secondaryColor = #fff;
$pageTextColor = #fff;
$bodyTextColor = #333;
$altColor = #333;
$warningColor = #F30059;
$faColor = #00C05B;
$buttonBg = #0078fe;
$buttonHover = lighten($buttonBg, 15%);

$linkColor = darken($primaryColor, 20%);
$hoverColor = lighten($linkColor, 15%);


$mainMenuBg = rgba(#081F2A, 0.8);
$pageHeaderBg = transparent;
$pageHeaderTextColor = rgba(#fff, 0.8);
$pageBodyBg = rgba(#000, 0.8);
$pageFooterBg = rgba(#000, 0.8);

$reportTHBg = darken($primaryColor, 50%);
$reportTHTextColor = #fff;
$reportTHLink = lighten($reportTHTextColor, 20%);
$reportRowBackgroundEven = #fff;
$reportRowBackgroundOdd = rgba(#fff, 0.5);
$reportRowBackgroundHover = lighten($primaryColor, 90%);
$reportFormBg = rgba(#081F2A, 0.8);
$reportFormHover = rgba(#081F2A, 0.95);


$qbColor = #0078FE;
$rbColor = #3C5CA5;
$wrColor = #1A9FC7;
$teColor = #0D6884;
$pkColor = #642B90;

$positionColors = {
	'qb': $qbColor,
	'rb': $rbColor,
	'wr': $wrColor,
	'te': $teColor,
	'pk': $pkColor
};